.container{
    text-align: center;  
}

.quantity{
    background-color: rgb(222, 222, 222);
    margin: 0 auto;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

.quantity_input{
    width: 50px;
    padding: 10px 0; 
    text-align: center;
    border: none;
} 

.quantity_minus ,.quantity_plus{
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
} 